<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.0/phpunit.xsd"
    forceCoversAnnotation="false"
    verbose="false">
    <testsuites>
        <testsuite name="All SwissPaymentSlip tests">
            <file>./tests/PaymentSlipDataTest.php</file>
            <file>./tests/PaymentSlipTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
